<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Revision Sheets</h1>
  <% for(let i=0; i<revisions.length;i++){ %>
   <a class="list-group-item" href=<%= revisions[i] %> download>download</a>
  <% } %>
  </body>
</html>
